/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

/* Variables globales */
:root {
  --cabecera: #064635;
  --copy: #519259;
  --side: #f0bb62;
  --pie: #f4eea9;
  --black: rgba(0, 0, 0, 0.589);
  --black2: rgba(3, 1, 1, 0.781);
  --white: rgba(255, 255, 255, 0.63);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dongle", sans-serif;
}

.container_grid {
  display: grid;
  gap: 20px;
  width: 90%;
  max-width: 1400px;
  margin: 20px auto;
  /* Declaraciones de las columnas */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);

  /* Grid Areas */
  grid-template-areas: "cabecera cabecera cabecera" "copy copy barra" "widget1 widget2 barra" "pie pie pie";
}

.container_grid > div,
.container_grid .cabecera,
.container_grid .copy,
.container_grid .barra,
.container_grid .widget1,
.container_grid .widget2,
.container_grid .pie {
  background-color: rgb(170, 171, 172);
  padding: 20px;
  border-radius: 10px;
}

.container_grid .cabecera {
  /* Css Grid no recomendado
  grid-column-start: 1;
  grid-column-end: -1; */
  background: var(--cabecera);
  color: var(--white);
  /* Grid area */
  grid-area: cabecera;
}

.container_grid .cabecera > h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

.container_grid .cabecera > p {
  font-size: 32px;
  font-weight: 400;
}

.container_grid .copy {
  /* Css grid no recomendado
  grid-column: span 2; */
  background: var(--copy);
  color: var(--black2);

  /* Grid area */
  grid-area: copy;
}

.container_grid .copy > h2 {
  text-align: justify;
  font-size: 40px;
  font-weight: 700;
}

.container_grid .copy > p {
  text-align: justify;
  font-size: 32px;
  font-weight: 400;
}

.container_grid .barra {
  /* Css grid no recomendado
  grid-column: 3/4; */
  background-color: var(--side);
  color: var(--black2);

  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Grid area */
  grid-area: barra;
}

.container_grid .barra > h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
}

.container_grid .barra > p {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
}

.container_grid .widget1 {
  /* CSS grid no recomendado
  grid-column: 1/3; */
  background-color: aqua;
  color: var(--black2);

  /* Grid area */
  grid-area: widget1;
}

.container_grid .widget1 > h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.container_grid .widget2 {
  /* CSS grid  no recomendado
  grid-column: 3 / 4; */
  background-color: aquamarine;
  color: var(--black2);

  /* Grid area */
  grid-area: widget2;
}

.container_grid .widget2 > h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.container_grid .pie {
  /* CSS grid no recmonendado
  grid-column: span 4; */
  background-color: var(--pie);
  color: var(--black2);

  /* Grid area */
  grid-area: pie;
}

.container_grid .pie > h3 {
  font-size: 32px;
  font-weight: 700;
}

.container_grid .pie > p {
  font-size: 24px;
  font-weight: 300;
}

/* Responsive no recomendado 
@media screen and (max-width: 768px) {

 .container_grid .copy {
   grid-column: 1 / -1;
 }
  
 .container_grid .barra {
   grid-column: 1 / -1;
 }

 .container_grid .widget1 {
   column-span: 2; 
 }

} */

/* Responsive con grid areas RECOMENDADO */
@media screen and (max-width: 768px) {
  .container_grid {
    grid-template-areas: "cabecera cabecera cabecera" "copy copy copy" "barra barra barra" "widget1 widget1 widget2" "pie pie pie";
  }
}